.frontPage{
    font-family: gilroy-regular;
    font-variant-ligatures: none;
    min-height: 100vh;
    color: rgba(0, 0, 0, 0);
    margin: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: env(safe-area-inset-top);
    overflow-x: hidden;
}





.logo{
    background-image: url('./Sking.png')
}

.cursor{
    width : 20px;
    height: 20px;
    background-color:#fff;
    position: fixed;
    border-radius:50%;
    pointer-events:none;
    mix-blend-mode:difference;
  }

.section{
    background-color: #0a0b10;
    color: rgb(248, 248, 248);
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 60px 200px 250px;
    overflow: hidden;
    /* background-image: url("https://www.timeshighereducation.com/sites/default/files/Pictures/web/j/f/p/shutterstock_151126472.jpg"); */
    

    /* background-image: url("../../../public/back3.png"); */
    background-size: cover;
    background-position: right bottom;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 425px) {
    .section {
        padding: 34px 47px 7px;
    }
  }
.NevBar{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.logoDiv{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 49px;
    height: 66px;
}
@media screen and (max-width: 425px) {
    .logoDiv {
        width:150px;
        position: absolute;
        left: 4%;
    }
  }


.headerline{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  
}
.productservice{
    padding: 4px 10px;
    position: relative;
}

.a{
    color: rgb(255, 255, 255);
    opacity: 0.8;
    font-family: Gilroy-Semibold;
    font-size: 25px;
    line-height: 36px;
    white-space: nowrap;
    margin-right: 20px;
}
.a:hover{
    color:blue
}
.titlestatus{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 22%;
    width: 54%;
}

.blogtitle{
    font-family: gilroy-bold;
    font-size: 96px;
    letter-spacing: -4.5px;
    line-height: 96px;
    text-align: center;
    white-space: pre-line;
    margin-top: 60px;
    font-weight: 900;
}
@media screen and (max-width: 425px) {
    .blogtitle {
        font-family: gilroy-bold;
        font-size: 60px;
        letter-spacing: 1.5px;
        line-height: 52px;
        text-align: center;
        white-space: pre-line;
        margin-top: 21px;
        font-weight: 900;

    }
  }
.blogsubtitle{
    font-family: gilroy-bold;
    font-size: 77px;
    letter-spacing: -4.5px;
    line-height: 100px;
    text-align: center;
    white-space: pre-line;
    margin-top: 11px;
}

@media screen and (max-width: 425px) {
    .blogsubtitle {
        line-height: 31px;
        font-size: 35px;
        letter-spacing: -1.5px;

    }
  }

.bloginfotitle{
    font-family: gilroy-bold;
    font-size: 30px;
    letter-spacing: -0.2px;
    line-height: 38px;
    margin-top: 35px;
    text-align: center;
    font-weight: 700;
}

@media screen and (max-width: 425px) {
    .bloginfotitle {
        font-size: 21px;
        width: 350px;

    }
  }


.signin{
    display: inline-flex;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    pointer-events: auto;
    text-align: center;
    padding: 20px 65px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: gilroy-bold;
    letter-spacing: 0.4px;
    line-height: 30px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 58px; 
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

  @media screen and (max-width: 425px) {
    .signin {
        padding: 8px 36px;}
  }

