.main{
    height: 100vh;
    Width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

 }

.img{
    height:61vh;
    width:39vw;
    margin-left: -27%;
    border-radius: 46px;
    margin-top: -5%;
 }

.h1{
    height: 20vh;
    width:20vw;
    position: absolute;
    z-index: 1;
    color: black;
    margin-left:11%;
    top: 34%;
 }